In [1]:
import pandas as pd

# Define data in a dictionary format
data = {
    "Name": ["Sam", "Ravi", "Anita"],
    "Age": [25, 28, 22],
    "City": ["Hyderabad", "Mumbai", "Delhi"]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age       City
0    Sam   25  Hyderabad
1   Ravi   28     Mumbai
2  Anita   22      Delhi